.section-title {
  font-size: 2.4rem;
  line-height: 133.3333333333%;
  color: #181A20;
}

.section-undertitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-undertitle p {
  font-size: 1.8rem;
  line-height: 133.3333333333%;
  color: #F6B100;
}
.section-undertitle a {
  font-size: 1.4rem;
  line-height: 150%;
  color: #9F9F9F;
  letter-spacing: 1px;
}

.top-section .top-section__container .top-section__undertitle {
  margin: 0 0 66px;
}
.top-section .top-section__container .top-section__recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 4.2666666667%;
          column-gap: 4.2666666667%;
  padding: 0 0 24px;
}
.top-section .top-section__container .top-section__recipes .item-recipe {
  width: 168px;
  height: 182px;
  border: 1px solid black;
  border-radius: 70px 70px 20px 20px;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 0 8px 16px 16px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.top-section .top-section__container .top-section__recipes .item-recipe .item-recipe__img {
  width: 200%;
  aspect-ratio: 227/213;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-24%, -40%);
          transform: translate(-24%, -40%);
}
.top-section .top-section__container .top-section__recipes .item-recipe .item-recipe__title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 133.3333333333%;
  color: #181A20;
}
.top-section .top-section__container .top-section__recipes .item-recipe .item-recipe__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-section .top-section__container .top-section__recipes .item-recipe .item-recipe__footer .item-recipe__ingredients {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 114.2857142857%;
  color: #9F9F9F;
}
.top-section .top-section__container .top-section__recipes .item-recipe .item-recipe__footer .item-recipe__rating {
  width: 35px;
  height: 16px;
  background-color: #F6B100;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Poppins;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1250%;
  letter-spacing: -8%;
  border-radius: 45%;
  -webkit-column-gap: 2px;
          column-gap: 2px;
}
.top-section .top-section__container .top-section__recipes .item-recipe .item-recipe__footer .item-recipe__rating span {
  display: block;
  margin-top: 1px;
}
@media (min-width: 834px) {
  .top-section .top-section__container .top-section__recipes {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: unset;
            column-gap: unset;
  }
}

.middle-section {
  margin: 0 0 14vw;
}
.middle-section .middle-section__container {
  display: grid;
}
.middle-section .middle-section__container .block-learn {
  padding: 22px 24px 16px;
  border-radius: 15px;
  background-image: url("../assets/images/learning-background.jpg");
  background-size: cover;
  margin: 0 0 16px;
  aspect-ratio: 344/128;
}
.middle-section .middle-section__container .block-learn .block-learn__text {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 122.2222222222%;
  color: white;
  margin: 0 0 14px;
  max-width: 65%;
}
@media (min-width: 1137px) {
  .middle-section .middle-section__container .block-learn .block-learn__text {
    font-size: 2.6rem;
    max-width: 70%;
  }
}
.middle-section .middle-section__container .block-learn .block-learn__btn {
  padding: 7.5px 22.5px;
  background-color: white;
  border-radius: 50px;
  font-size: 1.4rem;
  line-height: 121.4285714286%;
  color: #F6B100;
}
@media (min-width: 1137px) {
  .middle-section .middle-section__container .block-learn .block-learn__btn {
    font-size: 2rem;
  }
}
.middle-section .middle-section__container .middle-section__undertitle {
  margin: 0 0 8px;
}
.middle-section .middle-section__container .benefits {
  margin: 0 0 24px;
}
.middle-section .middle-section__container .benefits .benefits__item {
  -webkit-box-shadow: 0px 4px 40px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 40px 0 rgba(0, 0, 0, 0.1);
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4.6511627907%;
          column-gap: 4.6511627907%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}
.middle-section .middle-section__container .benefits .benefits__item:not(:last-child) {
  margin: 0 0 16px;
}
.middle-section .middle-section__container .benefits .benefits__item.benefits__item_hidden {
  display: none;
}
@media (min-width: 1440px) {
  .middle-section .middle-section__container .benefits .benefits__item.benefits__item_hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.middle-section .middle-section__container .benefits .benefits__item .benefits__item__img {
  width: 27.9069767442%;
  aspect-ratio: 96/72;
  border-radius: 10px;
  position: relative;
}
.middle-section .middle-section__container .benefits .benefits__item .benefits__item__img img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.middle-section .middle-section__container .benefits .benefits__item .benefits__item__text .benefits__item__title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 177.7777777778%;
  color: #181A20;
}
.middle-section .middle-section__container .benefits .benefits__item .benefits__item__text .benefits__item__description {
  padding-left: 20px;
  background-image: url("../assets/images/check.svg");
  background-repeat: no-repeat;
  background-position: left center;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 171.4285714286%;
}
@media (min-width: 1137px) {
  .middle-section .middle-section__container .benefits .benefits__item .benefits__item__text .benefits__item__title {
    font-size: 2.4rem;
  }
  .middle-section .middle-section__container .benefits .benefits__item .benefits__item__text .benefits__item__description {
    font-size: 1.8rem;
  }
}
.middle-section .middle-section__container .benefits .benefits__item .benefits__item__rating {
  width: 44px;
  aspect-ratio: 44/21;
  position: relative;
  margin-left: auto;
  display: none;
}
.middle-section .middle-section__container .benefits .benefits__item .benefits__item__rating img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (min-width: 1440px) {
  .middle-section .middle-section__container .benefits .benefits__item .benefits__item__rating {
    display: block;
  }
}
.middle-section .middle-section__container .start-cook {
  padding: 39px 32px 28px;
  border-radius: 20px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(36, 54, 59, 0.17), 0 5px 11px 0 rgba(36, 54, 59, 0.2);
          box-shadow: 0 20px 20px 0 rgba(36, 54, 59, 0.17), 0 5px 11px 0 rgba(36, 54, 59, 0.2);
  color: white;
  background: url("../assets/images/start-cook-background.jpg");
  background-size: cover;
  background-position: center;
}
.middle-section .middle-section__container .start-cook .start-cook__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 36.2666666667vw;
}
.middle-section .middle-section__container .start-cook .start-cook__header .start-cook__btn {
  padding: 7.5px 13px;
  border-radius: 10px;
  background-color: #F6B100;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
}
.middle-section .middle-section__container .start-cook .start-cook__title {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 114.2857142857%;
  margin: 0 0 15px;
}
.middle-section .middle-section__container .start-cook .start-cook__text {
  font-size: 1.6rem;
  line-height: 125%;
}

@media (min-width: 834px) {
  .middle-section {
    margin: 0 0 8.3vw;
  }
  .middle-section .middle-section__container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 2.5%;
            column-gap: 2.5%;
  }
  .middle-section .middle-section__container .block-learn {
    grid-row-start: 2;
    grid-column-start: 2;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0 0 24px;
    aspect-ratio: 342/178;
    background-position: right;
  }
  .middle-section .middle-section__container .middle-section__undertitle {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .middle-section .middle-section__container .middle-section__undertitle p {
    font-size: 2rem;
  }
  .middle-section .middle-section__container .middle-section__undertitle a {
    font-size: 1.5rem;
  }
  .middle-section .middle-section__container .benefits {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .middle-section .middle-section__container .benefits .benefits__item {
    padding: 18.5px 5px 18.5px 19px;
    width: 100%;
    margin: 0;
  }
  .middle-section .middle-section__container .benefits .benefits__item .benefits__item__img {
    width: 37%;
    aspect-ratio: 106/78;
  }
  .middle-section .middle-section__container .start-cook {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    aspect-ratio: 344/324;
  }
  .middle-section .middle-section__container .start-cook .start-cook__header {
    margin: 0 0 16.3069544365vw;
  }
}
@media (min-width: 1440px) {
  .middle-section {
    margin: 0 0 42px;
  }
  .middle-section .middle-section__container .block-learn {
    aspect-ratio: 608/303;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 40px;
  }
  .middle-section .middle-section__container .block-learn .block-learn__text {
    max-width: 65%;
  }
  .middle-section .middle-section__container .benefits .benefits__item {
    padding: 8px 30px 8px 8px;
  }
  .middle-section .middle-section__container .benefits .benefits__item .benefits__item__img {
    width: 32%;
    aspect-ratio: 181/98;
  }
  .middle-section .middle-section__container .start-cook {
    aspect-ratio: 608/339;
  }
  .middle-section .middle-section__container .start-cook .start-cook__header {
    margin: 0 0 138px;
  }
}
.comments .comments__container .comments__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 24px;
}
.comments .comments__container .comments__title-block .comments__title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 145.4545454545%;
  color: #181A20;
}
.comments .comments__container .comments__main .item-comments:not(:last-child) {
  margin: 0 0 16px;
}
.comments .comments__container .comments__main .item-comments .item-comments__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4.6511627907%;
          column-gap: 4.6511627907%;
  margin: 0 0 8px;
}
.comments .comments__container .comments__main .item-comments .item-comments__header .item-comments__image {
  width: 13.9534883721%;
  aspect-ratio: 1;
  border-radius: 100%;
  position: relative;
}
.comments .comments__container .comments__main .item-comments .item-comments__header .item-comments__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.comments .comments__container .comments__main .item-comments .item-comments__header .item-comments__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 213.3333333333%;
  color: #181A20;
}
.comments .comments__container .comments__main .item-comments .item-comments__header svg {
  margin-left: auto;
}
.comments .comments__container .comments__main .item-comments .item-comments__text {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 153.8461538462%;
  color: #181A20;
  margin: 0 0 8px;
}
.comments .comments__container .comments__main .item-comments .item-comments__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 83.3333333333%;
  color: #9F9F9F;
}
.comments .comments__container .comments__main .item-comments .item-comments__footer .item-comments__like-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

*, ul, p, h1, h2, h3, h4, button, body, input, ::before, ::after, div {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 10px;
  color: #000;
  font-family: Urbanist;
}

.wrapper {
  overflow: hidden;
}

._container {
  max-width: 1440px;
  padding: 0 4.1333333333%;
  margin: 0 auto;
}

@media (min-width: 834px) {
  ._container {
    padding: 0 7.8%;
  }
}
@media (min-width: 1440px) {
  ._container {
    padding: 0 102px;
  }
}
