.header {
    padding: 16px 0 19px;
    background-color: $primary;

    .header__container {
        
        .header__main {
            display: flex;
            align-items: center;
            column-gap: 55/375 * 100%;
            margin: 0 0 16px;
            position: relative;

            .header__burger-btn {
                width: 32px;
                aspect-ratio: 1;
                display: flex;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    object-fit: cover;
                }
            }

            .header__title {
                font-size: 2.6rem;
                line-height: 32/26 * 100%;
                color: $secondary;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            .header__icons {
                display: flex;
                align-items: center;
                column-gap: 30px;
                justify-self: flex-end;
                display: none;
            }

        }

        .header__search {
            padding: 8px;
            border-radius: 5px;
            background-color: white;
            display: flex;
            column-gap: 8/375 * 100%;

            input {
                outline: none;
                width: 100%;
                height: 24px;
                font-size: 1.6rem;
                line-height: 21/16 * 100%;

                &::placeholder {
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 21/16 * 100%;
                    color: $quick-silver;
                }
            }
        }
    }
}

@media (min-width: 605px) {
    .header {
        padding: 45px 0;
    
        .header__container {
            
            .header__main {
                justify-content: space-between;
                margin: 0;
    
                .header__burger-btn {
                    display: none;
                }
    
                .header__title {
                    font-size: 4rem;
                    position: static;
                    transform: unset;
                }
    
                .header__icons {
                    display: flex;
                }
    
            }
    
            .header__search {
                display: none;
            }
        }
    } 
}