@keyframes headerSize {
    from {
        height: 100vh;
    }
    
    to {
        height: 123px;
    }
}

@keyframes substrateMove {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

@keyframes titleColor {
    from {
        color: $primary;
    }

    to {
        color: $secondary;
    }
}

@keyframes departure {
    from {
        transform: translateX(-400%);
    }

    to {
        transform: unset;
    }
}

@keyframes iconsDeparture {
    from {
        transform: translateX(200%)
    }

    to {
        transform: unset;
    }
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    
    .header__container {
        padding-top: 16px;
        padding-bottom: 19px;
        height: 100vh;
        position: relative;
        transition: all 2s ease;
        background-color: $primary;
        animation: headerSize 2s ease forwards 2s;
        
        .header__main {
            display: flex;
            align-items: center;
            column-gap: 55/375 * 100%;
            margin: 0 0 16px;
            // justify-content: flex-end;
            
            .header__burger-btn {
                width: 32px;
                aspect-ratio: 1;
                transform: translateX(-400%);
                animation: departure 1s ease 4s forwards;

                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    object-fit: cover;
                }
            }

            .header__title {
                font-size: 5.2rem;
                line-height: 32/26 * 100%;
                color: $primary;
                transition: all 2s ease 2s;
                animation: titleColor 1s ease forwards 1s;
                        //    headerTitleAnim 2s ease forwards 2s;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                white-space: nowrap;
                color: $primary;
                z-index: 2;
            }

            .header__icons {
                align-items: center;
                column-gap: 30px;
                // justify-self: flex-end;
                margin-left: auto;
                display: none;
                transform: translateX(200%);
                animation: iconsDeparture 1s ease 4s forwards;
            }

        }

        .header__search {
            padding: 8px;
            border-radius: 5px;
            background-color: white;
            display: flex;
            column-gap: 8/375 * 100%;
            transform: translateX(-400%);
            animation: departure 1s ease 4s forwards;

            input {
                outline: none;
                width: 100%;
                height: 24px;
                font-size: 1.6rem;
                line-height: 21/16 * 100%;

                &::placeholder {
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 21/16 * 100%;
                    color: $quick-silver;
                }
            }
        }

        .header__container__substrate {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $secondary;
            animation: substrateMove 1s ease forwards 1s;
        }
    }
}

@media (min-width: 605px) {
    .header {
    
        .header__container {
            padding-top: 45px;
            padding-bottom: 45px;

            .header__main {
                justify-content: space-between;
                margin: 0;
    
                .header__burger-btn {
                    display: none;
                }
    
                .header__title {
                    font-size: 4rem;
                    // position: static;
                    // transform: unset;
                }
    
                .header__icons {
                    display: flex;
                }
    
            }
    
            .header__search {
                display: none;
            }
        }
    } 
}